pkgbase = animecix
pkgname = animecix
pkgver = 1.2.1
pkgrel = 1
pkgdesc = Türkçe anime izleme uygulaması (GTK4/libadwaita + mpv)
arch = x86_64
url = https://github.com/veilzon/animecix-linux
license = MIT
makedepends = rust
makedepends = cargo
makedepends = git
depends = gtk4
depends = libadwaita
depends = mpv
source = animecix-1.2.0.tar.gz::https://github.com/veilzon/animecix-linux/archive/refs/tags/v1.2.0.tar.gz
sha256sums = SKIP
