[Desktop Entry]
Type=Application
Name=AnimeciX · MangaCiX
GenericName=Anime ve Manga İzleme Uygulaması
Comment=Anime ve manga izleme istemcisi
Exec=animecix
Icon=animecix
Terminal=false
Categories=AudioVideo;Video;GTK;
StartupWMClass=AnimeciX
Keywords=anime;video;player;izle;
